[Unit]
Names=qubes_tor.service
Description=Qubes transparent tor proxy setup
ConditionPathExists=/var/run/qubes-service/qubes-tor
After=network.target

[Service]
Type=forking
PIDFile=/var/run/qubes-tor.pid
RemainAfterExit=no
ExecStart=/usr/lib/qubes-tor/start_tor_proxy.sh
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

